# Data Merging (Notebook 2 of 4)

In [1]:
# Import libraries
import pandas as pd

In [2]:
# Add the manually labelled data to df, based on the NATIONALCA (Unique Cadastre Reference)

# Read the two files
data1 = pd.read_csv('../2_cleaned_data/a_cleaned_data.csv')
data2 = pd.read_csv('../2_cleaned_data/c_cleaned_data_now_labelled.csv')

In [3]:
data1.columns

Index(['osm_id', 'ncc_owned', 'osm_way_id', 'house_area', 'house_peri',
       'house_vert', 'private', 'house_lati', 'NATIONALCA', 'land_area',
       'land_perim', 'land_verti', 'land_longi', 'land_latit', 'COUNT',
       'house_long', 'b2lpercent'],
      dtype='object')

In [4]:
data2.head(5)

,Unnamed: 0,osm_id,ncc_owned,osm_way_id,house_area,house_peri,house_vert,private,house_lati,NATIONALCA,land_area,land_perim,land_verti,land_longi,land_latit,COUNT,house_long,b2lpercent,building_age
0,3,35551462,1,35551462,66,34,8,YES,6971754.136,29324493,207,62,12,-128367.6972,6971751.924,1,-128372.04,32,NaN
1,10,43078229,0,43078229,70,34,4,NO,6972088.705,29416618,1261,151,36,-127157.2719,6972082.872,1,-127167.64,6,NaN
2,18,61738722,0,61738722,65,32,4,NO,6972106.198,29416618,1261,151,36,-127157.2719,6972082.872,1,-127182.76,5,NaN
3,399,61739522,0,61739522,78,36,4,NO,6972057.290,29416618,1261,151,36,-127157.2719,6972082.872,1,-127142.03,6,NaN
4,990,227331222,0,227331222,70,34,4,NO,6972076.975,29416618,1261,151,36,-127157.2719,6972082.872,1,-127157.89,6,NaN

In [5]:
# Select the necessary columns from data1
selected_data2 = data2[['NATIONALCA', 'building_age']]

# Perform the merge based on NATIONALCA
merged_df = pd.merge(data1, selected_data2, on='NATIONALCA', how='inner')

In [6]:
merged_df

,osm_id,ncc_owned,osm_way_id,house_area,house_peri,house_vert,private,house_lati,NATIONALCA,land_area,land_perim,land_verti,land_longi,land_latit,COUNT,house_long,b2lpercent,building_age
0,35551462,1,35551462,66,34,8,yes,6.971754e+06,29324493.0,207.0,62.0,12.0,-128367.6972,6.971752e+06,1,-128372.04,32.0,NaN
1,43078229,0,43078229,70,34,4,no,6.972089e+06,29416618.0,1261.0,151.0,36.0,-127157.2719,6.972083e+06,1,-127167.64,6.0,NaN
2,43078229,0,43078229,70,34,4,no,6.972089e+06,29416618.0,1261.0,151.0,36.0,-127157.2719,6.972083e+06,1,-127167.64,6.0,NaN
3,43078229,0,43078229,70,34,4,no,6.972089e+06,29416618.0,1261.0,151.0,36.0,-127157.2719,6.972083e+06,1,-127167.64,6.0,NaN
4,43078229,0,43078229,70,34,4,no,6.972089e+06,29416618.0,1261.0,151.0,36.0,-127157.2719,6.972083e+06,1,-127167.64,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3421,1161677257,0,1161677257,57,31,4,no,6.972118e+06,29473181.0,249.0,68.0,11.0,-126524.4317,6.972113e+06,2,-126511.29,23.0,NaN
3422,1161677257,0,1161677257,57,31,4,no,6.972118e+06,29473181.0,249.0,68.0,11.0,-126524.4317,6.972113e+06,2,-126511.29,23.0,NaN
3423,1161677258,0,1161677258,52,30,4,no,6.972130e+06,61944023.0,160.0,71.0,11.0,-126531.5937,6.972125e+06,2,-126523.83,33.0,NaN
3424,1161677259,0,1161677259,50,30,4,no,6.972136e+06,61940774.0,161.0,72.0,9.0,-126538.1983,6.972131e+06,2,-126529.85,31.0,NaN
3425,1161677260,0,1161677260,51,30,4,no,6.972112e+06,61940508.0,157.0,67.0,14.0,-126511.7250,6.972107e+06,1,-126504.83,32.0,NaN

In [7]:
# Save Results of the merge (merging based on 'NATIONALCA' - national cadastral reference number)
merged_df.to_csv('../2_cleaned_data/d_merged_with_labels.csv', index=None)