# Data Merging (Notebook 2 of 4)

In [67]:
# Importing libraries
import pandas as pd

In [68]:
# Adding the manually labelled data to df, based on the NATIONALCA (Unique Cadatre number

# read 2 files
data1 = pd.read_csv('labelled_data.csv')
data2 = pd.read_csv('output.csv')

In [69]:
data1.head(5)

,Unnamed: 0,NATIONALCA,private,public,land_area,land_perim,land_verti,land_longi,land_latit,osm_way_id,building,other_tags,house_area,house_peri,house_vert,house_long,house_lati,COUNT,b2lpercent,building_age
0,7,29383018,YES,NO,139,48,11,457468.0630,338863.9420,227199943,residential,"""addr:city""=>""Nottingham"",""addr:housenumber""=>...",53,32,6,-1.1462,52.9441,2,38,post_war
1,8,29382985,YES,NO,129,47,9,457468.4442,338854.6817,227199945,residential,"""addr:city""=>""Nottingham"",""addr:housenumber""=>...",53,32,7,-1.1462,52.9440,1,41,post_war
2,12,60389294,YES,NO,1431,225,75,457488.0819,338887.5883,718895580,terrace,NaN,211,64,4,-1.1457,52.9442,1,15,NaN
3,15,60453344,YES,NO,124,60,19,457502.4581,338886.9275,718895580,terrace,NaN,211,64,4,-1.1457,52.9442,1,170,NaN
4,16,60584636,YES,NO,128,61,18,457502.6984,338881.9223,718895580,terrace,NaN,211,64,4,-1.1457,52.9442,1,165,NaN

In [70]:
data2.head(5)

,Unnamed: 0,osm_id,ncc_owned,osm_way_id,house_area,house_peri,house_vert,private,house_lati,NATIONALCA,land_area,land_perim,land_verti,land_longi,land_latit,COUNT,house_long,b2lpercent,building_age
0,3,35551462,1,35551462,66,34,8,YES,6.971754e+06,29324493.0,207.0,62.0,12.0,-128367.6972,6.971752e+06,1,-128372.04,32.0,notDefined
1,10,43078229,0,43078229,70,34,4,NO,6.972089e+06,29416618.0,1261.0,151.0,36.0,-127157.2719,6.972083e+06,1,-127167.64,6.0,notDefined
2,11,43085224,0,43085224,64,36,7,NO,6.971535e+06,29377074.0,99.0,49.0,11.0,-127695.2368,6.971542e+06,2,-127694.90,65.0,notDefined
3,13,61738713,0,61738713,49,34,6,NO,6.972128e+06,57498481.0,109.0,62.0,10.0,-127194.3206,6.972131e+06,1,-127187.21,45.0,notDefined
4,14,61738716,0,61738716,43,26,5,NO,6.971831e+06,29411248.0,140.0,53.0,15.0,-127217.3529,6.971832e+06,2,-127213.44,31.0,notDefined

In [71]:
# Select the necessary columns from data1
selected_data1 = data1[['NATIONALCA', 'building_age']]

# Perform the merge baased on NATIONALCA
merged_df = pd.merge(data2, selected_data1, on='NATIONALCA', how='inner')

In [72]:
# Save Results
merged_df.to_csv('output_with_types.csv', index=None)